body {
    margin: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 100fr / repeat(2, 50fr);
    grid-template-areas: "login-image login-inputs";
}

.login-image {
    grid-area: login-image;
    background: url("login page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.login-inputs {
    grid-area: login-inputs;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5rem;
}

.title {
    font-size: 2rem;
    color: #616161;
}

.logo-container {

}
.logo {
    width: 30%;
    height: 30%;
    text-align: center;
    justify-content: center;
}
label {
    font-family: "Dubai Light";
}
